
<%= simple_form_for(@product)do |f| %>
  <ul>
  <% @product.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  
  <div class="form-inputs">
  <%= f.input :street_no, placeholder: "100"%>
  <%= f.input :street, placeholder: "Kent Street"%>
  <%= f.input :suburb, placeholder: "Sydney"%>
  <%= f.input :state, collection: ["ACT", "NT", "NSW", "QLD", "SA", "TAZ", "VIC", "WA"]  %>
  <%= f.input :category, collection: ['Residential Outdoors', 'Residential Undercover','Security Undercover', 'Undercover', 'Security Underground', 'Underground', 'Security outdoors', 'Outdoors'] %>
  <%= f.input :price, placeholder: "2000"%>
  <%= f.input :availability %>
  <%= f.file_field :picture, accept:"image/png,image/gif,image/jpeg,image/jpg" %>
  <br>
  <p style="color:red; font-size:10px" >Must be a png, gif, jpeg or jpg file type</p>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>




