
<%= simple_form_for(@product)do |f| %>
  <ul>
  <% @product.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  
  <div class="form-inputs">
  <%= f.input :street_no, placeholder: "100"%>
  <%= f.input :street, placeholder: "Kent Street"%>
  <%= f.input :suburb, placeholder: "Sydney"%>
  <%= f.input :state, placeholder: "i.e NSW" %>
  <%= f.input :category, placeholder: "Under cover security" %>
  <%= f.input :price, placeholder: "2000"%>
  <%= f.input :availability %>
  <%= f.file_field :picture %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>




