<!-- PRODUCT SHOW PAGE > DISPLAYS THE PRODUCT AND DETAILS > CONVERTS NUMBER TO INCLUDE (,) AND (.) WITH DOLLAR ($) SYMBOL-->
<div class="product-card" >
  <%= image_tag @product.picture, class:"card-img-top"%>
  <div class="card-body">
      <h5 class="card-title"><i class="fas fa-map-marker-alt"></i> <%= @product.state %>, <%= @product.suburb %></h5>
      <p class="card-text"><%= @product.street_no %>, <%= @product.street %> </p>
      <p class="card-text">Type: <%= @product.category %></p>
      <p class="card-text"><%= number_to_currency(@product.price, :unit => "$", :separator => ".", :delimiter => ",") %></p>
      <p><% if @product.availability ==true && @product.customer_id ==nil %>
      <span class="badge badge-pill badge-success">Available</span>
      <% else %>
      <span class="badge badge-pill badge-danger">This carspot has either been sold <br> or is no longer available!</span>
      <%end%> </p>
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#googleModal">
      <i class="fas fa-map-marked-alt"> map</i>
    </button> 

<!-- STRIPE BUTTON AND SCRIPT FOR BUY NOW-->
    <button data-stripe="payment" class="btn">
      Buy Now 
      </button>
      <script src="https://js.stripe.com/v3/"></script>

      <script>
        document
          .querySelector("[data-stripe='payment']")
          .addEventListener("click", () => {
            const stripe = Stripe(
              "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
            );

            stripe.redirectToCheckout({
              sessionId: "<%= @session_id %>"
            });
          });
      </script>
      
        <%= link_to "back", listing_index_path, class:"nav-link" %>
  </div>
</div>




  <!-- GOOGLE MAPS MODAL -->
    <div class="modal fade" id="googleModal" tabindex="-1" role="dialog" aria-labelledby="googleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="googleModalLabel"><i class="fas fa-map-marker-alt"></i> <%= @product.street_no %>, <%= @product.street %>, <%= @product.suburb %>, <%= @product.state %> </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
        
          <%=  image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@product.latitude}%2C#{@product.longitude}&key=#{Rails.application.credentials.google[:map_api]}"%>
          </div>
          <div class="modal-footer">
            
            <button type="button" class="btn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    
    

