
<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    
    <%= f.input :name, placeholder: "i.e John Smith or Woolworths"%>
    <%= f.input :phone,placeholder: "+61 405852354" %>
    <%= f.file_field :picture %>
    <br>
  <p style="color:red; font-size:10px" >Must be a png, gif, jpeg or jpg file type</p>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
