


<div class="container">
<h1>Profiles</h1>
  <p>All currently listed profiles</p>            
  <table class="table">
    <thead>
      <tr>
      <th>User</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.user_id %></td>
        <td><%= profile.name %></td>
        <td>+61 <%= profile.phone %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile)%></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

