
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><i class="fas fa-parking"></i>arking Spots <i class="fas fa-car"></i></h1>
    <p class="lead">Stop driving around in circles, find your carspot today!</p><br>
    
    <%= form_tag listing_index_path, :method => :get do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search Suburb",class: "btn", :name => nil%>
    <% end %>
    </div>
    </div>
    


<div class="row">
    <% @products.each do |product| %>
        <div class="card" >
        <%= image_tag product.picture, class:"card-img-top" if product.picture.attached?%>
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-map-marker-alt"></i> <%= product.state %></h5>
          <p class="card-text"><%= product.suburb %></p>
          <p class="card-text"><%= product.category %></p>
          <p class="card-text">$<%= product.price %></p><br>
          <%= link_to "View",product, class: "btn" %>
          <%= link_to "Buy",product, class: "btn" %>
        </div>
      </div>
        <% end %>
   </div>



   


   